@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    min-width: 360px;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #283E50;
}

nav{
    list-style: none;
    display: flex;
    flex-direction: row; /* Set flex direction to row */
    background-color: #304A5F;
    padding-block: 30px;
    margin-inline: 0;
}


nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 20px; /* Optional: Adjust font size as needed */
    margin-inline: 40px;
}

nav a:first-child{
    margin-right: 870px;
}


.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-wrap: wrap;
    margin-inline: 50px;
}

.main-images{
    display: flex;
    flex-direction: column;
}

.avatar{
    width: 600px;
    height: auto;
}

.techstack{
    margin-top: 15px;
    height: 40px;
    align-self: center;
}

h1{
    font-family: 'Playfair Display', serif;
    color: #9AD0C3;
    font-size: 60px;
}

p{
    color: #fff;
    font-family: Georgia;
    font-size: 32px;
}

.arrow{
    width: 35px;
}

.github-profile{
    color: #9AD0C3;
    background-color: transparent;
    font-family: Georgia;
    font-size: 27px;
    padding-inline: 100px;
    padding-block: 15px;
    border: #fff 1px solid;
    text-decoration: none;
}

.github-profile:hover{
    background-color: #afecff;
    color: #304A5F;
}


.project-sect{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.project-container{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 80px;
    margin-block: 50px;
}

.project-img{
    width: 250px;
    height: auto;
    margin-right: 50px;
    border-radius: 20px;
}

.project-h{
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #9AD0C3;
    font-size: 28px;
}

hr{
    border-color: #9AD0C3;
    width: 1000px;
}

.project-p{
    font-size: 25px;
    text-wrap: wrap;
}

.p-header{
    display: flex;
    flex-direction: row;
}

.redirect-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    align-items: center;
    justify-content: flex-end;
    
}

.rdrct{
    border: none;
    margin-right: 20px;
    padding: 0;
    height: 50px;
    width: auto;
    gap: 10px;
    background-color: transparent;
}

.rdrct-img{
    height: 50px;
    width: auto;
}

@media only screen and (max-width: 660px){

    .main-images{
        display: flex;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
    }

    .avatar{
        width: 350px;
        height: auto;
    }
    .techstack{
        height: 10px;
        width: auto;
    }
}


@media only screen and (max-width: 1350px) {

    nav{
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

    h1{
        font-size: xx-large;
    }

    p{
        font-size: large;
    }

    nav a:first-child{
        display: none;
    }

    .main-texts{
        width: 70%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .main-images{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .avatar{
        width: 300px;
        height: auto;
    }

    .techstack{
        height: 20px;
    }

}

@media only screen and (max-width: 1100px) {

    nav a{
        font-size: 15px;

    }

    .main-texts{
        width: 100%;
    }

    button{
        color: #9AD0C3;
        background-color: transparent;
        font-family: Georgia;
        font-size: 15px;
        padding-inline: 20px;
        padding-block: 15px;
        border: #fff 1px solid;
    }

    .main-images{
        margin-inline: auto;
    }

}

@media only screen and (max-width: 200px) {
    body{
        width: 100%;    
    }

    nav{
        padding-inline: 30px;
    }

    nav a{
        margin-inline: 20px;
    }

    .hero{
        margin-inline: 20px;
    }

    .main-texts{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    h1{
        font-size: xx-large;
        text-align: center;
    }

    p{
        font-size: large;
        text-align: center;
    }


    .avatar{
        width: 300px;
        height: auto;
    }

    .techstack{
        height: 20px;
    }
}